footer{
    background-color: rgba(0, 0, 0, 0.151);
    padding-top: 40px;
    margin-top: 20px;
}

footer .contenedor > div{
    color: white;
    padding: 0 20px;
    font-size: 12px;
    text-align: justify;
}

footer h3{
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
}

footer h3 span{
    color: yellow;
}
.social-media{
    text-align: center;
}
.icon{
    margin: 8px;
}